.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content: center;

  background-image: url(../assets/bg-image.jpg);
  background-size: cover;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.titulo {
  color: #ffffff;
  margin: 1rem;
  font-size: 2rem;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  gap: 0;
  border: 10px solid #691c04;
  width: fit-content;
}

.piece {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cellBlack {
  background-color: #39393a;
}

.cellWhite {
  background-color: #fff;
}

.pieceTop {
  justify-self: center;
  display: flex;
  background-color: #d5000069;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  outline: 1px solid black;
  background-image: url(../assets/gryffindor.png);
  background-size: 30px;

  &:hover {
    background-color: #d69c09;
    cursor: pointer;
  }
}

.pieceBottom {
  display: flex;
  background-color: #1d745269;
  width: 50%;
  height: 50%;
  border-radius: 999px;
  justify-self: center;
  outline: 1px solid black;
  background-image: url(../assets/slytherin.png);
  background-size: 30px;

  &:hover {
    background-color: #b0bec5;
    cursor: pointer;
  }
}

@media (width <= 48em) {
  .container {
    height: 100vh;
  }

  .grid {
    grid-template-columns: repeat(8, 30px);
    grid-template-rows: repeat(8, 30px);
  }

  .pieceTop {
    width: 15px;
    height: 15px;
  }
  .pieceBottom {
    width: 15px;
    height: 15px;
  }
}
